<!DOCTYPE html>
<html lang="en">
  <head>
    {%load staticfiles %}
    <script src="{% static "fbootstrapp/js/jquery-1.7.min.js" %}"></script>
	<script src="{% static "fbootstrapp/js/bootstrap-alerts.js" %}"></script>
	<script src="{% static "fbootstrapp/js/bootstrap-buttons.js" %}"></script>
	<script src="{% static "fbootstrapp/js/bootstrap-dropdown.js" %}"></script>
	<script src="{% static "fbootstrapp/js/bootstrap-modal.js" %}"></script>
	<script src="{% static "fbootstrapp/js/bootstrap-popover.js" %}"></script>
	<script src="{% static "fbootstrapp/js/bootstrap-scrollspy.js" %}"></script>
	<script src="{% static "fbootstrapp/js/bootstrap-tabs.js" %}"></script>
	<script src="{% static "fbootstrapp/js/bootstrap-twipsy.js" %}"></script>
    <link href="{% static "fbootstrapp/css/bootstrap.css" %}" rel="stylesheet"/>
	<link href="{% static "fbootstrapp/css/bootstrap-glyphicons.css" %}" rel="stylesheet" />	
	
    <style type="text/css">
      /* Override some defaults */
      html, body {
        background-color: #eee;
      }
      body {
        padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
      }
      .container > footer p {
        text-align: center; /* center align it with the container */
      }
      .container {
        width: 860px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
      }

      /* The white background content wrapper */
      .container > .content {
        background-color: #fff;
        padding: 20px;
        margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
        -webkit-border-radius: 0 0 6px 6px;
           -moz-border-radius: 0 0 6px 6px;
                border-radius: 0 0 6px 6px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                box-shadow: 0 1px 2px rgba(0,0,0,.15);
      }

      .topbar .btn {
        border: 0;
      }
    </style>
    <!-- Le fav and touch icons -->
	<link rel="shortcut icon" href="{%static "images/favicon.ico" %}" type="image/x-icon">
	<link rel="icon" href="{%static "images/favicon.ico" %}" type="image/x-icon">
  </head>
  <body>
    <div class="topbar">
      <div class="fill">
        <div class="container">
		  <a class="brand" style="padding: 0px; margin-right: 25px; margin-left: -5px;">
			<img src="{%static "images/rackspace-logo.png" %}" />
		  </a>
          <a class="brand" href="http://192.237.162.69/">rackerbook</a>
          <ul class="nav">
            <li class="active"><a href="http://192.237.162.69/">
				<span class="glyphicon glyphicon-home"></span></a>
			</li>
            <li>
				<a href="http://192.237.162.69/about">
					<span class="glyphicon glyphicon-question-sign"></span>
				</a>
			</li>
			<li>
				<div class="input-append">
					<input type="text" size="16" name="appendedInput" id="appendedInput" class="mini topbar-search"
					placeholder="Search for groups, people, things">
					<span class="add-on topbar-search">
						<span class="glyphicon glyphicon-search">
						</span>
					</span>
				</div>
			</li>
          </ul>
          <form id="loginForm" action="/loggedIn/" method="POST" class="pull-right">{% csrf_token %}
            <input class="input-small" id="loginEmail" name="Email" type="text" placeholder="Email">
            <input class="input-small" id="loginPassword" name="Password" type="password" placeholder="Password">
            <a class="btn inverse" onclick="$(this).parent().submit();">Sign in</a>
			<a class="btn" href="http://192.237.162.69/signup" style="color: #000;">Sign Up</a>
          </form>
        </div>
      </div>
    </div>

    <div class="container">
	<!-- CONTENT: THIS IS WHERE THE VIEWS FOR EACH PAGE WILL BE DIFFERENT-->
      <div class="content" style="min-height: 500px;">
        <div class="page-header">
          <h1>
		  <small>
		    Rackerbook makes it easy to organize events/activities with 
			other Rackers.
		  </small>
		  </h1>
        </div>
		<div class="row" style="min-height: 500px;">
		  <div class="span9 rackerbook-column" style="border-right: 1px solid #e0e0e0; min-height: 500px;">
			<h3>Event/Activity Groups<!--<a class="btn small" href="#more-groups" style="margin-left: 5px;">More</a>--></h3>
			<div class="row" style="padding: 10px;">
				<div class="span4">
					<ul class="unstyeld group-list">
                    {% for group in all_sports_groups %}
                        <li><a>{{ group.group_name }}</a></li>
                    {% endfor %}
                    <!--
					<li><a href="http://192.237.162.69/group">Tennis</a></li>
					<li><a href="#ping-pong">Ping pong</a></li>
					<li><a href="#foosball">Foosball</a></li>
					<li><a href="#bowling">Bowling</a></li>
					<li><a href="#basketball">Basketball</a></li>
					<li><a href="#football">Football</a></li>
					<li><a href="#soccer">Soccer</a></li>
					<li><a href="#baseball">Baseball</a></li>
                    -->
					</ul>
				</div>
				<div class="span4">
					<ul class="unstyeld group-list">
                    {% for group in all_activity_groups %}
                        <li><a>{{ group.group_name }}</a></li>
                    {% endfor %}
                    <!--
					<li><a href="#womenDeveloperMeetUps">Women Developer Meet-ups</a></li>
					<li><a href="#lunch-with-rackers">Lunch-with-rackers</a></li>
					<li><a href="#activity1">Activity1</a></li>
					<li><a href="#activity2">Activity2</a></li>
					<li><a href="#activity3">Activity3</a></li>
					<li><a href="#activity4">Activity4</a></li>
					<li><a href="#activity5">Activity5</a></li>
					<li><a href="#activity6">Activity6</a></li>-->
					</ul>
				</div>
			</div>
		  </div>
          
		  <div class="span9 rackerbook-column" style="min-height: 500px;">
			<h3>Recent Posts</h3>
            {% for thread_id, thread in discussionThreads.items %}
                {% if forloop.first %}
                    <br/>
                {% else %}
                    <hr/>
                {% endif %}
                {{ thread_id }}
                <div class="row">
                    <div class="span2">
                        <span style="margin-left: 15px;" class="glyphicon glyphicon-user rackerbook-profile-pic"></span><!-- 50 x 50 -->
                    </div>  
                    <div class="span7">
                        <!-- POST FROM-> TO -->
                        <a href="#joe.racker" class="racker-profile-link">
                        {% for discussion in thread %}
                            {% if forloop.first %}
                                {{ discussion.user.firstName }}&nbsp;{{ discussion.user.lastName }}
                            {% endif %}
                        {% endfor %}
                        </a> 
                        &nbsp;
                        <span class="glyphicon glyphicon-play"></span>
                        &nbsp;
                        <a href="http://192.237.162.69/group" class="racker-group-link">{{ thread.0.group.group_name }}</a>
                        <br/><br/>
                        <div class="conversation">
                            {% for discussion in thread %}
                                {% if forloop.first %}
                                    {% if discussion.event %}
                                        <div class="inline-input when-where">
                                            <span class="help-block">When: (Central Standard Time)</span>
                                            <input class="medium" value="{{ discussion.event.event_start|date:"n/d/Y g:i A" }}" type="text" disabled>
                                            to
                                            <input class="medium" value="{{ discussion.event.event_end|date:"n/d/Y g:i A" }}" type="text" disabled>		
                                        </div>
                                        <div class="inline-input when-where">
                                            <span class="help-block">Where:</span>
                                            <input class="xlarge" value="{{ discussion.event.event_place }}" type="text" disabled>					
                                        </div>                                        
                                    {% endif %}
<pre>
{{ discussion.discussion }}
</pre>
                                    &nbsp;&nbsp;
                                    <span class="timestamp">Posted on {{ discussion.date|date:"F d, Y" }} at {{ discussion.date|date:"g:i A" }}</span>
                                    <br/><br/>
                                    {% if discussion.event %}            
                                    <ul class="breadcrumb racker-post">
                                        <li>
                                            <a href="#join-event1">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </a>
                                            <a>
                                            &nbsp;
                                            {% for eventID, event_users in event_user_dict.items %}
                                                {% ifequal eventID discussion.event.event_id %}
                                                   <a class='twipsy-below' data-placement="below" rel='twipsy' title="
                                                   {% for joinedUser in event_users.users %}
                                                        {% if forloop.last %}
                                                            {{ joinedUser.firstName }} {{ joinedUser.lastName }}
                                                        {% else %} 
                                                            {{ joinedUser.firstName }} {{ joinedUser.lastName }},
                                                        {% endif %}
                                                    {% endfor %}
                                                    ">
                                                    {{event_users.count}}
                                                    People
                                                    </a>
                                                {% endifequal %}
                                            {% endfor %}                                
                                            </a>Joined this.
                                        </li>
                                    </ul>                                    
                                    {% endif %} 
                                {% else %}
                                <ul class="breadcrumb racker-post">
                                    <li>
                                        <div class="row">
                                            <div class="span1">
                                                <span class="glyphicon glyphicon-user rackerbook-profile-pic-small"></span>
                                            </div>
                                            <div class="span5">
                                                <a href="#racker1">{{ discussion.user.firstName }}&nbsp;{{ discussion.user.lastName }}</a>
                                                {{ discussion.discussion }}
                                                <br/><span class="timestamp">{{ discussion.date|date:"g:i A n/j/Y" }}</span><!--11:05 PM 7/30/2013 -->
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                {% endif %}
                            {% endfor %}
                            <br/><br/>                       
                        </div>
                    </div>
                </div>
            {% endfor %}			
		  </div><!-- end of rackerbook-column -->
		</div>
      </div><!-- CONTENT: THIS IS WHERE THE VIEWS FOR EACH PAGE WILL BE DIFFERENT-->

     <footer>
		<center>
			<img src="{% static "images/rackerpowered.png" %}" class="rackerpowered"/>
		</center>
      </footer>

    </div> <!-- /container -->  
  </body>
  
<script language="javascript">
$(document).ready(function(){
	setColumnHeights();
	$('.racker-dropdown').each(function(){
		$(this).dropdown();
	})
	$('.twipsy-below').each(function(){
		$(this).twipsy({ placement: "below"});
	})	
    
    $('#loginForm input').keydown(function(e){
        if(e.keyCode == 13){
            $('#loginForm').submit();
        }
    })
    
    $('#loginForm').submit(function(e){
        
        var email = $('#loginForm').find('#loginEmail').val().trim();
        var password = $('#loginForm').find('#loginPassword').val().trim();
        if(email.length > 0 && password.length > 0)
        {}
        else
        {
            e.preventDefault();
            alert("Please enter email and password to login!");
        }
    })
})

function setColumnHeights()
{
	var maxHeight = 500; //minumum height should be at least 500px;
	$("div.rackerbook-column").each(function(){
		var curHeight = $(this).height();
		if(curHeight > maxHeight)
		{
			maxHeight = curHeight;
		}
	})
	
	$('div.rackerbook-column').each(function(){
		$(this).css('height', maxHeight);
	})
}
</script>
</html>
